/*************************************************************************

                                Home Page

/************************************************************************/

/********************* Title **************************/
.navbar-brand{
  font-family: 'Rammetto One', cursive;
  font-size: 50px;
}

/*********** carousel movie things ************/
/* Movie Poster Size */
.carousel-inner img{
  height: 444px;
  width: 300px;
  margin: 0 auto;
}

/* Movie Name Under Movie Poster */
.carousel-caption h1{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  top: 28em;
}

/* search box for movies*/
.d-flex input{
  width:250px !important;
  padding: 10px 18px;
  height: 38px;
  top: 8px;
  position: relative;
}

/*************************************************************************

                              Movie Page

/************************************************************************/
#Comingsoon{
  font-size: 50px;
  text-align: center;
} 

#Nowshowing{
  font-size: 50px;
  text-align: center;
} 

#CurrentPlayingMovie img{
  height: 345px;
  width: 233px;
  align-items: center;
}

#ComingSoonMovie img{
  height: 345px;
  width: 233px;
  align-items: center;
}

/*************************************************************************

                              Movie Details Page

/************************************************************************/
/****** Movie details page******/

.singleMovieDetails h5{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.singleMovieDetails img{
  height: 444px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*************************************************************************

                              Movie Theatre Page

/************************************************************************/
/****** Movie details page******/

.movietheatrelist{
  text-align: center;
}

#MovieTheatresList{
  font-size: 50px;
  text-align: center;
}

/*************************************************************************

                              Movie Theatre Details Page

/************************************************************************/
/****** Movie details page******/
.singleMovieTheatreDetails {
  padding: 2em;
}

.singleMovieTheatreDetails h5{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}


.singleMovieTheatreDetails h6{
  font-size: 25px;
  font-weight: bold;
}

.singleMovieTheatreDetails img{
  height: 266px;
  width: 180px;
}

.singleMovieTheatreDetails p{
  font-size: 15px;
  text-align: center;
}

.singleMovieTheatreDetails button{
  width: 150px;
}


/*************************************************************************

                              Search Results Page

/************************************************************************/

#movieSearchList p{
  font-size: 20px;
  font-weight: bold;
}

/* #movieSearchList li{
  list-style-type: none;
} */

#movieSearchList li img{
  height: 266px;
  width: 180px;
}


/*************************************************************************

                              Top Movies Page

/************************************************************************/

#topmovieslist img{
  height: 266px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

#topmovieslist th{
  text-align: center;
}

#topmovieslist td{
  text-align: center;
}

/* setup rank for movies */
#topmovieslist {
  counter-reset: counter; /* set counter to 0 */
}
#topmovieslist td:first-child:before {
  counter-increment: counter; /* increase counter */
  content: counter(counter); /* show counter */
}

#topmovieslist {
  width: 600px!important;
  margin-left:auto; 
  margin-right:auto;
}

.top1050ind{
  text-align: center;
}

.top1050ind a{
  text-decoration: none;
}

.top1050ind button{
  width:150px !important;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

/* .singleMovieDetails row{
  float: right;
} */

/* #CurrentPlayingMovie img{
  height: 345px;
  width: 233px;
  align-items: center;
}

.MovieTitleFont{
    font-family: Arial, sans-serif;
    font-weight: bold;
}
 */

/* Banner */
/* nav{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
} */

/* main logo */
/* nav h1 a{
  text-decoration: none;
  color:white;
  font-family: 'Rammetto One', cursive;
  font-size: 50px;
  margin: 0px;
  letter-spacing: 3px;
} */

/* tabs */
/* nav ul{
  color:white;
  display: flex;  
  justify-content: space-around;
  width: 60%;
} */

/* nav ul a{
  color: yellow;
  font-family: 'comic sans';
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;    top: 20px;
} */

/* Search bar icon*/
/* nav ul div.SearchBar{
    transform: translate(-40%,-50%); /*search bar position
    background: rgba(0, 0, 0, 0.4);
    height:35px;
    position: fixed;
    display: flex;
    padding: 6px; 
    width: 30%; 
    border-radius: 10px;
    top: 20px;
    position: relative;
} */

/* nav ul div.SearchBar .SearchInput{
    float:left;
    height:17px;
    padding: 6px; 
    width: 85%; 
    border-radius: 5px; 
} */
  
  
/* nav ul div.SearchBar img{
  margin:1px;
  width:55px;
  border-radius: 5px; 
  cursor: pointer;
} */

/*************************************************************************

                              User Page

/************************************************************************/

body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 2px 5px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #008b00;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  border-radius: 50%;
}

.userContainer {
  padding: 16px 30%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.userModal {
/*  display: none; /* Hidden by default */
  /* position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* padding-top: 60px; */
}

/* Modal Content/Box */
.userModal-content {
  height: 100%;
  background-color: #fefefe;
  /*margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  /*width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.fontClass{

  font-size: 1.5rem !important;
}

.registerClass{
float: left;
}

.forPass{
float: right;
}
.blockquote-footer {
  margin-top: 0 !important;
}
.theatre-ratings {
  background-color: coral !important;
  color: whitesmoke;
  padding: 1em;
  margin-bottom: 1em;
}
.rating-btn {
  width: 10%;
}
#theatreRatingDiv {
  display: none;
}


/*---------------userDetail------------ */

#userDetailTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: 30%;
  text-align: center;
}

#userDetailTable td, #userDetailTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#userDetailTable tr:nth-child(even){background-color: #f2f2f2;}

#userDetailTable tr:hover {background-color: #ddd;}

.WelcomeUser h1{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

